<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
		
		default-init-method="init" default-destroy-method="destroy">

	<bean id="userController" class="com.sivalabs.springtraining.UserController">
		<property name="authenticationService" ref="authenticationService"/>
		<property name="userService" ref="userService"/>
	</bean>
	
	<bean id="userService" class="com.sivalabs.springtraining.UserService">
		<constructor-arg name="userDAO" ref="userDAO"/>
	</bean>
	
	<bean id="userDAO" class="com.sivalabs.springtraining.UserDAO"/>
	
	
	<bean id="authenticationService" class="com.sivalabs.springtraining.AuthenticationService"
		factory-method="getInstance" depends-on="ldapAuthenticator">
		<constructor-arg ref="ldapAuthenticator"/>
	</bean>
	
	<bean id="authenticatorFactory" class="com.sivalabs.springtraining.AuthenticatorFactory">
	
	</bean>
	
	<bean id="ldapAuthenticator" factory-bean="authenticatorFactory" factory-method="getLdapAuthenticator"/>
	<bean id="socialAuthenticator" factory-bean="authenticatorFactory" factory-method="getSocialAuthenticator"/>
	
	<bean id="permanantAddress" class="com.sivalabs.springtraining.Address"
			p:city="Hyderabad" p:state="AP" p:country="India"	/>
	
	
	<bean id="userProfile" class="com.sivalabs.springtraining.UserProfile" lazy-init="true">
		<constructor-arg type="int" value="100"/>
		<constructor-arg name="userName" value="siva"/>
		<constructor-arg name="password" value="sivalabs"/>
		<constructor-arg index="3" value="siva@gmail.com"/>
		
		<property name="dob"><null/></property>
		<property name="phone.countryCode" value="91"/>
		<property name="phone.number" value="9000510456"/>
		
		<property name="preferences">
			<props>
				<prop key="subscribe.email">true</prop>
				<prop key="subscribe.newsletter">false</prop>
			</props>
		</property>
		<property name="addresses">
			<list>
				<ref bean="permanantAddress"/>
				<bean class="com.sivalabs.springtraining.Address" 
						c:city="Chennai" c:state="TN" c:country="India"/>				
			</list>
		</property>
		<property name="addressMap">
			<map key-type="java.lang.String" value-type="com.sivalabs.springtraining.Address">
				<entry key="PRESENT" value-ref="permanantAddress"/>
				<entry key="PERMANANT" value-ref="permanantAddress"/>
			</map>
		</property>
	</bean>
	
	<bean id="myPrototypeBean" class="com.sivalabs.springtraining.MyPrototypeBean" scope="prototype"/>
	
	<bean id="mySingletonBean" class="com.sivalabs.springtraining.MySingletonBean">
		<lookup-method name="createMyPrototypeBean" bean="myPrototypeBean"/>
	</bean>	
	
	<bean class="com.sivalabs.springtraining.MyAppContextHolder">
	
	</bean>
	
	<bean id="commonDAO" class="com.sivalabs.springtraining.CommonDAO"/>
	<bean id="baseService" class="com.sivalabs.springtraining.AbstractBaseService" abstract="true">
		<property name="commonDAO" ref="commonDAO"/>
	</bean>
	<bean id="adminService" class="com.sivalabs.springtraining.AdminService" parent="baseService">
		<property name="userDAO" ref="userDAO"/>
	</bean>
	<bean id="sysConfigService" class="com.sivalabs.springtraining.SysConfigService" parent="baseService">
		<property name="authenticator" ref="ldapAuthenticator"/>
	</bean>
</beans>
