<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
<title>Welcome</title>
	<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap-responsive.min.css" th:href="@{/resources/bootstrap/css/bootstrap-responsive.min.css}" />
	<script type="text/javascript" th:href="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:href="@{/resources/jquery/js/jquery-1.7.2.min.js}"></script>
</head>
<body>
	
	
	
</body>
</html>