<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	
	<!-- <bean id="userService" class="com.sivalabs.springcore.UserService">
		<property name="userRepository" ref="userRepository"/>
	</bean> -->
	
	<bean id="userService" class="com.sivalabs.springcore.UserService">
		<constructor-arg index="0" ref="userRepository"/>
	</bean>
	
	<bean id="userRepository" class="com.sivalabs.springcore.UserRepository">
	
	</bean>
	
	<bean id="siva" class="com.sivalabs.springcore.User" >
		<constructor-arg index="0" value="1"/>
		<constructor-arg index="1" value="Siva"/>
	</bean>
	
	<bean id="srikanth" class="com.sivalabs.springcore.User" lazy-init="true">
		<property name="userId" value="2"/>
		<property name="userName" value="Srikanth"></property>
	</bean>
	
	<bean id="mysqlDataSource" factory-bean="dataSourceFactory" factory-method="getMySQLDataSource">
	
	</bean>
	
	<bean id="oracleDataSource" factory-bean="dataSourceFactory" factory-method="getOracleDataSource">
	
	</bean>
	
	<bean id="dataSourceFactory" class="com.sivalabs.springcore.DataSourceFactory" >
		<constructor-arg index="0">
			<props>
				<prop key="mySQLDriver">com.mysql.jdbc.Drive</prop>
			</props>
		</constructor-arg>
		
	</bean>

	
</beans>
